<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Waitlist Sign-Up Welcome Email</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body style="margin: 0; padding: 0; min-height: 100vh; display: flex; flex-direction: column; background-color: rgba(255, 254, 230, 1); font-family: 'Roboto', sans-serif;">
    <table style="width: 100%; max-width: 752px; margin: 0 auto;">
        <tr>
            <td style="background-color: rgba(255, 202, 1, 1); text-align: center; padding: 0; height: 160px;">
                <a href="https://www.eatup.ng/" style="display: inline-block;">
                    <img height="60" width="280" alt="Logo." src="https://res.cloudinary.com/tomisin/image/upload/v1685111857/EatUp_Logo_1_1_s1xrv2.png" style="vertical-align: middle;">
                </a>
            </td>
        </tr>
        <tr>
            <td style="background-color: #fff; padding: 50px 120px; color: rgba(0, 0, 0, 0.7); font-size: 16px; line-height: 1.4;">
                <h1 style="font-size: 24px; line-height: 28px; margin-bottom: 24px;">Hooray!</h1>
                <p>
                    Thank you for signing up to use the EatUp App.
                </p>
                <p>
                    The EatUp 3-in-one food delivery app helps you order a meal from your favorite restaurant, track your order, and make payments using a feeding wallet.
                </p>
                <p>
                    From now on, you are officially in the loop to get regular updates about our awesome products, new releases, and maybe even a deal or two from the EatUp Team, delivering happiness to every doorstep. You’ll be the first to know about the best features we’ve got to help you build a happy lifestyle around food.
                </p>
                <p>
                    In the meantime, get social with us on <a href="https://web.facebook.com/profile.php?id=100075484587653">Facebook</a>, <a href="https://twitter.com/eatupng">Twitter</a>, <a href="https://www.instagram.com/eatupng/">Instagram</a>, and <a href="https://www.linkedin.com/company/eatupng">LinkedIn</a> to join our online community and get a jump on what we’ve been cooking.
                </p>
                <p style="margin-top: 24px;">
                    Stay Happy, <br />
                    The EatUp Team.
                </p>
                <hr style="margin-top: 50px; border: 1px solid rgba(0, 0, 0, 0.15);">
                <p style="font-size: 14px; line-height: 16px; letter-spacing: 0.0025em; color: rgba(0, 0, 0, 0.45); margin-bottom: 6px;">
                    <span>
                        <img alt="Support Agent" src="https://res.cloudinary.com/tomisin/image/upload/v1685109465/Support_agent_1_o6tgzt.png" style="vertical-align: bottom;">
                    </span>
                    +234 8138562959
                </p>
                <p style="font-size: 14px; line-height: 16px; letter-spacing: 0.0025em; color: rgba(0, 0, 0, 0.45); margin-top: 0;">
                    <span>
                        <img alt="Email" src="https://res.cloudinary.com/tomisin/image/upload/v1685109461/Email_1_xb5d65.png" style="vertical-align: bottom;">
                    </span>
                    hello@eatup.ng
                </p>
                <p style="font-size: 14px; line-height: 16px; letter-spacing: 0.0025em; color: rgba(0, 0, 0, 0.45);">
                    Made with
                    <span>
                        <img alt="favourite" src="https://res.cloudinary.com/tomisin/image/upload/v1685109457/Favorite_xdgvzm.png" style="vertical-align: bottom;">
                    </span>  
                    by Eatup Nigeria 
                    <span>
                        <img alt="copyright" src="https://res.cloudinary.com/tomisin/image/upload/v1685110724/Group_pgmpoh.png" style="vertical-align: sub;">
                    </span> 2023. All rights reserved 
                </p>
                <p style="margin-bottom: 6px;">
                    <a href="https://twitter.com/eatupng" style="display: inline-block; margin-right: 5px;">
                        <img alt="Twitter" src="https://res.cloudinary.com/tomisin/image/upload/v1685114055/Frame_48_dvcyu9.png" style="width: 24px; height: 24px; border-radius: 100px;">
                    </a>
                    <a href="https://www.instagram.com/eatupng/" style="display: inline-block; margin-right: 5px;">
                        <img alt="Instagram" src="https://res.cloudinary.com/tomisin/image/upload/v1685114051/Instagram_1_aoaqtu.png" style="width: 24px; height: 24px; border-radius: 100px;">
                    </a>
                    <a href="https://web.facebook.com/people/Eatup-Nigeria/100075484587653/" style="display: inline-block; margin-right: 5px;">
                        <img alt="Facebook" src="https://res.cloudinary.com/tomisin/image/upload/v1685114048/Facebook_vbsz1s.png" style="width: 24px; height: 24px; border-radius: 100px;">
                    </a>
                    <a href="https://www.linkedin.com/company/eatupng/" style="display: inline-block;">
                        <img alt="Linkedin" src="https://res.cloudinary.com/tomisin/image/upload/v1685114046/LinkedIn_quj8r7.png" style="width: 24px; height: 24px; border-radius: 100px;">
                    </a>
                </p>
                <p style="font-size: 14px; line-height: 16px; letter-spacing: 0.0025em; color: rgba(0, 0, 0, 0.45);">
                    <a href="#" style="color: rgba(0, 0, 0, 0.45); text-decoration: none;">Unsubscribe</a> from this list.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
